/* a partir 1100px */
@media (max-width: 1100px) {
    .plans-container {
        width: 95%;

    }
    .plan {
        margin: 0 5px;
    }
}


/* 900px */
@media (max-width: 1100px) {

    .main-banner p {
        font-size: 32px;
        padding: 0 6rem;
    }

    .search-container {
        padding: 4rem;
    }
}

/* celular 600px */
@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }

    .navbar-items li {
        font-size: 12px;
        margin-left: 10px;
    }

    .main-banner p {
        font-size: 30px;
        padding: 0 3rem;
    }
    .plans-container {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .searchdomain-container h2 {
        font-size: 28px;
    }
    .searchdomain-container p {
        margin-bottom: 10px;
        font-size: 20px;

    }

    .searchdomain-container input[type="text"] {
        width: 80%;
        font-size: 20px;
        
    }

    .contact-container input,
    .contact-container textarea {
    width: 100%;
    margin: 10px 0;
}

    .contact-container {
        padding: 3rem 2rem;
    }

    .services-container ul {
        flex-direction: column;
        width: 100%;

    }
}

